<%- include("../partials/head.ejs") %>

<body>
    <h1 id="myzebrasx-header">myZebraSymptoms Tracker</h1>

    <h2>Edit <%=symptom.description%> Event</h2>

    <form action="/symptoms/<%= id %>?_method=PUT" method="post">
        <input type="text" name="description" placeholder="symptom experienced" value="<%= symptom.description %>"/>
        <!-- START TIME <input type="" name="start time" /> -->
        <!-- END TIME <input type="" name="end time" /> -->
        <input type="checkbox" name="treated" value="<%= symptom.treated ? "checked" : ""%>"/>
        <input type="text" name="treatment" placeholder="treatment used" value="<%= symptom.treatment %>"/>
        <input type="submit" value="Edit <%= symptom.description %> Event"/>

    </form>

</body>
</html>