<%- include("../partials/head.ejs") %>

<body>
    <h1 id="myzebrasx-header">myZebraSymptoms Tracker</h1>

    <a href="/symptoms/new"><button class="log-new-button">Log New Symptomatic Event</button></a>

    <h2>Complete Log of Symptomatic Events</h2>
    
    <div class="symptomaticevent-logs">
        <% for(let i = 0; i < symptoms.length; i++){ %>

            <br>
            <p>
                <div class="log-leftside">
                    <h3 id="symptom-name"><a href="/symptoms/<%= symptoms[i]._id %>"><%= symptoms[i].description %></a></h3>
                    <u>Started:</u> <%= started[i].startTime.toLocaleString() %><br>
                    <u>Ended:</u> <%= ended[i].endTime.toLocaleString() %>
                </div>
            </p>
                
                <div class="log-rightside">
                    <p>
                    Treated? <%= symptoms[i].treated %>
                    </p>
                </div>
                <hr id="logs-separator">


        <% } %>
    </div>
    
</body>
</html>