<%- include("../partials/head.ejs") %>

<body>
    <h1 id="myzebrasx-header">myZebraSymptoms Tracker</h1>

    <a href="/symptoms/new"><button class="log-new-button">Log New Symptomatic Event</button></a>
    
    <div class="symptomaticevent-logs">
        <% for(let i = 0; i < symptoms.length; i++){ %>

            <br>
            <p>
                <div class="log-leftside">
                    <h3><a href="/symptoms/<%= symptoms[i]._id %>"><%= symptoms[i].description %></a></h3>
                    Started: <%= symptoms[i].startTime %> <br>
                    Ended: <%= symptoms[i].endTime %>
                </div>
                
                <div class="log-rightside">
                    Treated? <%= symptoms[i].treated %>
                </div>

            </p>

        <% } %>
    </div>
    
</body>
</html>