<%- include("../partials/head.ejs") %>

  <body>
    <h1 id="myzebrasx-header">myZebraSymptoms Tracker</h1>
    
    <h2 class="symptomaticevent-head">Symptomatic Event</h2>
    
    <div class="focusedsx-rightside">
        <ul>
            <li><b>Symptom:</b> <%= symptom.description %></li>
            <li><b>Start Time:</b> <%= symptom.startTime.toUTCString() %></li>
            <li><b>End Time:</b> <%= symptom.endTime.toUTCString() %></li>

        </ul>
    </div>
        
    <div class="focusedsx-leftside">
        <p>
            <b>Treated:</b> <%= symptom.treated %><br>
            <b>Treatment:</b> <%= symptom.treatment %>
        </p>
    </div>

    
    <a href="/symptoms/<%= id %>/edit"><button>EDIT this logged event</button></a>
    <form action="/symptoms/<%= id %>?_method=DELETE" method="post">
      <input type="submit" value="DELETE this logged event"/>
    </form>
    <h3><a href="/symptoms">Go back to complete log of symptomatic events</a></h3>
  </body>
</html>